*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.App {
  text-align: center;
}

body{
  background: rgba(0, 0, 0, .3);
}

button{
  border: none;
  outline: none;
  margin: .5rem 0;
  border: .1rem solid #caa603;
  background: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: .6rem;
  padding: .5rem 2rem;
  color: #cfcdcd;
}

button:hover{
  background: #caa603;
  color: rgba(0, 0, 0, 1);
}

.btn{
  margin-top: 3rem;
  background: #000;
}